@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(249, 248, 248);
    --foreground: rgb(0, 0, 0);

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: black;
    --primary-foreground: white;

    --secondary: rgb(3, 119, 55);
    --secondary-foreground: 222.2 47.4% 11.2%;

    --dark-primary: rgb(239, 243, 244);
    --dark-primary-foreground: rgb(131, 131, 131);

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: rgba(207, 10, 10, 0.822);
    --destructive-foreground: white;

    --border: rgb(207, 207, 207);
    --input: rgb(239, 243, 239);
    --shadow-sm: 2px 8px 20px rgba(91, 91, 91, 0.198);
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1b1b1b;
    --foreground: rgb(220, 220, 220);

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: white;
    --primary-foreground: black;

    --secondary: rgb(6, 226, 226);
    --secondary-foreground: 210 40% 98%;

    --dark-primary: rgb(33, 33, 33);
    --dark-primary-foreground: rgb(207, 207, 207);

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: rgb(241, 88, 88);
    --destructive-foreground: white;
    --shadow-sm: 2px 4px 20px rgba(116, 116, 116, 0.198);
    --border: rgb(67, 67, 67);
    --input: rgb(36, 36, 36);
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.explore:hover + .category-desktop,
.category-desktop:hover {
  display: block;
}

.category-mobile {
  scrollbar-width: 0;
}

.category-mobile::-webkit-scrollbar {
  display: none;
}
